{% extends 'base.html' %}

{% block title %}Laptops{% endblock title %}

{% block body %}
<div class='container'>
    <div class="latest-products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h2>Available products</h2>
                    </div>
                </div>
                <div class="col-md-4" style="
                border-style: ridge;
                border-color: antiquewhite;
                border-radius: 3px;">
                    <div class="product-item"><a href="#"><img src="#" alt="website template image" ></a>
                        {%for i in item_1%}
                        {{i}}
                        <div class="down-content"><a href="#">
                                <h4>Lenovo V15</h4>
                            </a>
                            <h6>₹19,999</h6>
                            <p>Lenovo V15 Intel Celeron N4020 15.6" (39.62 cm) HD 220 nits Antiglare Thin and Light
                                Laptop (4GB RAM/256GB SSD/DOS/Iron Grey/1.85 kg), 82C3A008IH</p>
                            <ul class="stars">
                                <li><i class="fa fa-star">Intel Celeron N4020 15.6</i></li>
                                <li><i class="fa fa-star"></i>(39.62 cm) HD 220 nits Antiglare Thin and Light Laptop
                                </li>
                                <li><i class="fa fa-star"></i>4GB RAM</li>
                                <li><i class="fa fa-star"></i>256GB SSD</li>
                                <li><i class="fa fa-star"></i>Color:- Iron Grey<br>Weight:-1.85 kg</li>
                            </ul>
                            <button type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                    </path>
                                </svg>
                                Add To Cart
                            </button><span>Reviews (24)</span>
                        </div>
                        {%endfor%}
                    </div>
                </div>
                <div class="col-md-4"style="
                border-style: ridge;
                border-color: antiquewhite;
                border-radius: 3px;">
                    <div class="product-item"><a href="#"><img src="#" alt="website template image"></a>
                        <div class="down-content"><a href="#">
                                <h4>RedmiBook Pro Core i5 11th Gen</h4>
                            </a>
                            <h6>₹39,999</h6>
                            <p>RedmiBook Pro Core i5 11th Gen - (8 GB/512 GB SSD/Windows 11 Home) Thin and Light Laptop
                                (15.6 inch, Charcoal Gray, 1.8 kg, With MS Office)</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i>Processor Core i5 11th Gen</li>
                                <li><i class="fa fa-star"></i>Thin and Light Laptop<br>15.6 inch </li>
                                <li><i class="fa fa-star"></i>8 GB</li>
                                <li><i class="fa fa-star"></i>512 GB SSD</li>
                                <li><i class="fa fa-star"></i>Color:-Charcoal Gray<br>Weight:-1.8 kg</li>
                            </ul>
                            <button type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                    </path>
                                </svg>
                                Add To Cart
                            </button><span>Reviews (21)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"style="
                border-style: ridge;
                border-color: antiquewhite;
                border-radius: 3px;">
                    <div class="product-item"><a href="#"><img src="#" alt="website template image"></a>
                        <div class="down-content"><a href="#">
                                <h4>HP 255 G8 Notebook</h4>
                            </a>
                            <h6>₹30,999</h6>
                            <p>HP 255 G8 Notebook (AMD Ryzen™ 3 3250U/8GB RAM/512GB SSD/Windows 11 Home /15.6" Display)
                                689T4PA</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i>Processor AMD Ryzen™ 3 3250U</li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i>8GB RAM</li>
                                <li><i class="fa fa-star"></i>512GB SSD<br>Windows 11 Home</li>
                                <li><i class="fa fa-star"></i>15.6" Display</li>
                            </ul>
                            <button type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                    </path>
                                </svg>
                                Add To Cart
                            </button><span>Reviews (36)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"style="
                border-style: ridge;
                border-color: antiquewhite;
                border-radius: 3px;">
                    <div class="product-item"><a href="#"><img src="assets/images/product_04.jpg"
                                alt="website template image"></a>
                        <div class="down-content"><a href="#">
                                <h4>ROG Strix G17</h4>
                            </a>
                            <h6>₹85,599</h6>
                            <p>ASUS ROG Strix G17, 17.3-inch (43.94 cms) FHD 144Hz, AMD Ryzen 7 4800H, RTX 3050 Ti 4GB
                                Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11//Gray/2.4 kg), G713IE-HX040W</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i>Gaming Laptop</li>
                                <li><i class="fa fa-star"></i>Processor AMD Ryzen 7 4800H</li>
                                <li><i class="fa fa-star"></i>RTX 3050 Ti 4GB Graphics</li>
                                <li><i class="fa fa-star"></i>16GB/1TB SSD<br>Windows 11</li>
                                <li><i class="fa fa-star"></i>Color:-Gray<br>Weight:-2.4 kg</li>
                            </ul>
                            <button type="button" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                    </path>
                                </svg>
                                Add To Cart
                            </button>
                            <span>Reviews (48)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"style="
                border-style: ridge;
                border-color: antiquewhite;
                border-radius: 3px;">
                    <div class="product-item"><a href="#"><img src="assets/images/product_05.jpg"
                                alt="website template image"></a>
                        <div class="down-content"><a href="#">
                                <h4>ROG Zephyrus G14 (2022)</h4>
                            </a>
                            <h6>₹1,49,999</h6>
                            <p>ASUS ROG Zephyrus G14 (2022), 14" (35.56 cm) FHD+ 16:10 144Hz/3ms, AMD Ryzen 7 6800HS,
                                8GB Radeon RX 6700S, Gaming Laptop (16GB/1TB SSD/Windows 11/with Office/Eclipse
                                Gray/1.65 Kg), GA402RJZ-L4134WS</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i>Gaming Laptop,FHD+ 16:10 144Hz/3ms Display </li>
                                <li><i class="fa fa-star"></i>AMD Ryzen 7 6800HS</li>
                                <li><i class="fa fa-star"></i>8GB Radeon RX 6700S Graphics Card/with Office</li>
                                <li><i class="fa fa-star"></i>16GB/1TB SSD/Windows 11</li>
                                <li><i class="fa fa-star"></i>Color:-Eclipse Gray<br>Weight:-1.65 kg</li>
                                <button type="button" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                        </path>
                                    </svg>
                                    Add To Cart
                                </button>
                                <span>Reviews (16)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"style="
                border-style: ridge;
                border-color: antiquewhite;
                border-radius: 3px;">
                    <div class="product-item"><a href="#"><img src="assets/images/product_06.jpg"
                                alt="website template image"></a>
                        <div class="down-content"><a href="#">
                                <h4>ROG Zephyrus</h4>
                            </a>
                            <h6>₹2,01,999</h6>
                            <p>Asus ROG Zephyrus Duo 16 GX650RXZ-LB226WS AMD Ryzen 9 6900HX 16 Inches Gaming Laptop
                                (32GB/2TB SSD/Windows 11/Black/2.55 Kg)</p>
                            <ul class="stars">
                                <li><i class="fa fa-star"></i>Gaming Laptop </li>
                                <li><i class="fa fa-star"></i>AMD Ryzen 9 6900HX</li>
                                <li><i class="fa fa-star"></i>32GB/2TB SSD</li>
                                <li><i class="fa fa-star"></i>Windows 11/with office</li>
                                <li><i class="fa fa-star"></i>Color:-Black<br>Weight:-2.55 kg</li>
                                <button type="button" class="btn btn-primary">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-cart" viewBox="0 0 16 16">
                                        <path
                                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z">
                                        </path>
                                    </svg>
                                    Add To Cart
                                </button>
                                <span>Reviews (32)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock body %}


