{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block body %}


<div class='container'>
  <h3 align = 'center' style="background-color:powderblue;margin-top:50px;">Login Here</h3>
  <form method='POST' action='/login' id='log_in'>
    {% csrf_token %}
    <!-- Name input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example1">Name</label>
      <input type="text" id="Name" name="Name" class="form-control" required/>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="password" name="password" class="form-control" required/>

    </div>

    <div class="form-outline mb-4">
      <button type="submit" class="btn btn-primary">Submit</button><button type="Forgot" class="btn btn-danger">Forgot
        password</button>

    </div>

</div>
</form>
</div>
{% endblock body %}